:root {
   --color-one: #4285f4;
   --color-two: #ea4335;
   --color-three: #fbbc05;
   --color-four: #34a853;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.87);
   background-color: #242424;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
h1 {
   font-size: 3.2em;
   line-height: 1.1;
}

a {
   font-weight: 500;
   color: #646cff;
   text-decoration: inherit;
}
a:hover {
   color: #535bf2;
}

#pixel-home {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.pixel-home-container {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.pixel-brand {
   display: flex;
   gap: 14px;
   align-items: center;
}
.pixel-logo {
   width: 50px;
   height: 50px;
   background: #f8e3e3;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 6px;
   place-items: center;
   border-radius: 3px;
   padding: 6px;
}
.pixel-logo span.icon {
   width: 15px;
   height: 15px;
   border-radius: 2px;
}
.icon-one {
   background: var(--color-one);
}
.icon-two {
   background: var(--color-two);
}
.icon-three {
   background: var(--color-three);
}
.icon-four {
   background: var(--color-four);
}
.pixel-artify-title {
   font-size: 3rem;
   line-height: 45px;
   font-weight: 500;
}

.pixel-tagline {
   font-size: 2.6rem;
   font-weight: 400;
   margin-top: 6rem;
   /* text-shadow: 2px 3px 7px var(--color-one), 0 10px 1px var(--color-two); */
}
/* buttons */
.pixel-buttons {
   margin-top: 5rem;
}

button {
   padding: 1rem 2.5rem;
   margin: 10px;
   border-radius: 3px;
   outline: none;
   font-size: 1.1rem;
}
